<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Scoat</h1>
    <a href="/admins/register">spaceを登録</a>
    <a href="/admins/login">管理者としてログイン</a>
  </body>
</html>
