<% if(usernameErrors.length > 0){ %>
<ul>
  <% usernameErrors.forEach((error) => {%>
  <li><%= error %></li>
</ul>
<% }); %>
<% if(usernameErrors.length > 0){ %>
<ul>
  <% usernameErrors.forEach((error) => {%>
  <li><%= error %></li>
</ul>
<% }); %>
<% if(usernameErrors.length > 0){ %>
<ul>
  <% usernameErrors.forEach((error) => {%>
  <li><%= error %></li>
</ul>
<% }); %>