<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Scoat</h1>
    <p>Welcome to Scoat</p>
    <div class="Login">
      <form action="/admins/login" method="POST">
        <h2>場所の名前</h2>
        <input type="text" name="location" placeholder="input location">
        <h2>管理者メールアドレス</h2>
        <input type="text" name="mail" placeholder="abcde@xxx.com">
        <h2>管理者パスワード</h2>
        <input type="password" name="password" placeholder="＊＊＊＊＊">

        <button class="loginBtn" type="submit">ログイン</button>
      </form>
      <!-- まだ途中 -->
        <button class="repassBtn" type="submit">パスワードを忘れた方</button>
    </div>
  </body>
</html>
