<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Scoat</h1>
    <form action="/schedule/register" method="POST">
      <input type="date" name="date" />
      <input type="time" name="start" />
      <input type="time" name="end" />
      <textarea name="contents"></textarea>
      <button type="submit">登録</button>
    </form>
    <a href="return-schedules">戻る</a>
  </body>
</html>
