<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/schedule.css" />
  </head>
  <body>
    <h1>Scoat</h1>
    <main id="schedules-area" class="schedules-area"></main>

    <script src="/javascripts/schedule.js"></script>
  </body>
</html>
