<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/schedule.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a href="/" class="navbar-brand">Scoat</a>
      <p id="place-name" class="navbar-brand"></p>
    </nav>
    <div class="container">
      <div class="text-light"></div>
      <div class="text-right"></div>
      <a href="/admins/login" class="btn btn-primary my-2">管理画面へ</a>
      <a href="/schedule/register" class="btn btn-success my-2">予定を追加</a>
    </div>
    <main id="schedules-area" class="schedules-area">
      <div class="time-column">
        <div class="table-header">時間</div>
        <div class="time-line">
          <div class="hour"></div>
          <div class="hour">
            <div class="hour-content">1:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">2:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">3:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">4:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">5:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">6:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">7:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">8:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">9:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">10:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">11:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">12:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">13:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">14:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">15:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">16:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">17:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">18:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">19:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">20:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">21:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">22:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">23:00</div>
          </div>
        </div>
      </div>
      <div id="schedules-column" class="schedules-column">
        <!-- ここに予定が入る -->
      </div>

      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="schedule-date"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="schedule-details" class="schedule-details">
                <div class="schedule-details-contents">
                  <span id="schedule-start-hour"></span>
                  <span>:</span>
                  <span id="schedule-start-minute"></span>
                  <span>~</span>
                  <span id="schedule-end-hour"></span>
                  <span>:</span>
                  <span id="schedule-end-minute"></span>
                  <div id="schedule-content"></div>
                  <a id="update-schedule" class="btn btn-primary btn-sm m-2">予定を更新</a>
                  <a id="delete-schedule" class="btn btn-danger btn-sm m-2">予定を削除</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/javascripts/schedule.js"></script>
  </body>
</html>
