<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/schedule.css" />
  </head>
  <body>
    <h1 class="title">Scoat</h1>
    <h2 id="place-name"></h2>
    <a href="/admins/login">管理画面へ</a>
    <a href="/schedule/register">予定を追加</a>
    <main id="schedules-area" class="schedules-area">
      <div class="time-column">
        <div class="table-header">時間</div>
        <div class="time-line">
          <div class="hour"></div>
          <div class="hour">
            <div class="hour-content">1:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">2:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">3:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">4:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">5:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">6:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">7:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">8:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">9:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">10:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">11:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">12:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">13:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">14:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">15:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">16:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">17:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">18:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">19:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">20:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">21:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">22:00</div>
          </div>
          <div class="hour">
            <div class="hour-content">23:00</div>
          </div>
        </div>
      </div>
      <div id="schedules-column" class="schedules-column"></div>
      <div id="schedule-details" class="schedule-details display-none">
        <div class="schedule-details-contents">
          <div id="schedule-date"></div>
          <span id="schedule-start-hour"></span>
          <span>:</span>
          <span id="schedule-start-minute"></span>
          <span>~</span>
          <span id="schedule-end-hour"></span>
          <span>:</span>
          <span id="schedule-end-minute"></span>
          <div id="schedule-content"></div>
          <a id="update-schedule">予定を更新</a>
          <button id="go-back">戻る</button>
        </div>
      </div>
    </main>

    <script src="/javascripts/schedule.js"></script>
  </body>
</html>
