<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/schedule.css" />
  </head>
  <body>
    <h1 class="title">Scoat</h1>
    <main id="schedules-area" class="schedules-area">
      <div class="time-column">
        <div class="">時間</div>
        <div class="time-line">
          <div class="time-line-hour">00:00</div>
          <div class="time-line-hour">01:00</div>
          <div class="time-line-hour">02:00</div>
          <div class="time-line-hour">03:00</div>
          <div class="time-line-hour">04:00</div>
          <div class="time-line-hour">05:00</div>
          <div class="time-line-hour">06:00</div>
          <div class="time-line-hour">07:00</div>
          <div class="time-line-hour">08:00</div>
          <div class="time-line-hour">09:00</div>
          <div class="time-line-hour">10:00</div>
          <div class="time-line-hour">11:00</div>
          <div class="time-line-hour">12:00</div>
          <div class="time-line-hour">13:00</div>
          <div class="time-line-hour">14:00</div>
          <div class="time-line-hour">15:00</div>
          <div class="time-line-hour">16:00</div>
          <div class="time-line-hour">17:00</div>
          <div class="time-line-hour">18:00</div>
          <div class="time-line-hour">19:00</div>
          <div class="time-line-hour">20:00</div>
          <div class="time-line-hour">21:00</div>
          <div class="time-line-hour">22:00</div>
          <div class="time-line-hour">23:00</div>
        </div>
      </div>
    </main>

    <script src="/javascripts/schedule.js"></script>
  </body>
</html>
