<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Scoat</h1>
      <p>Welcome to Scoat</p>
    </header>
    <main>
      <form action="/updatePwd" method="`POST" />
        <div>
          <p> 現在のパスワード </p>
          <p>  </p>
        </div>
        <div>
          <p> 新しいパスワード </p>
          <input type="password" name="password" />
        </div>
          <input type="submit" value="更新"></input>
      </div>
    </form>
    <a href="/management"> 戻る </a>
    <!-- 11 -->
    </main>
  </body>
</html>
