　<!DOCTYPE html>
<html>
  <head>
    <title>Scoat</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Scoat</h1>
  </body>
</html>
