.title {
  margin: 0;
}

.schedules-area {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* 時間列 */

.time-column {
  width: 3rem;
}
.time-line-hour {
  height: 2rem;
}

/* 予定列 */

.day {
  width: 4rem;
}

.date {
  text-align: center;
  background-color: blue;
}

.time {
  width: 1rem;
}

.hour {
  /* 仮 */
  height: 2rem;
}

.minute {
  width: 1rem;
  height: 0.03333333333rem;
  background-color: green;
}
