.title {
  margin: 0;
}
.schedules-area {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* 時間列 */

.time-column {
  width: 3rem;
}
.time-line-hour {
  height: 2rem;
}

/* 予定列 */

.day {
}
.date {
  text-align: center;
}
.times {
  display: flex;
}
.time {
  width: 0.5rem;
}
.hour {
}
.minute {
  width: 0.5rem;
  height: 0.03333333333rem;
}
.scheduled {
  background-color: green;
}
